@import "tailwindcss";

body {
	color: rgb(255, 255, 255);
	background: rgb(0, 0, 0);
}

a {
	color: #5aadff;
	text-decoration: underline;
	transition: all;
	transition-duration: 200ms;
}

a:hover {
	color: rgb(140, 194, 255);
}
